.cartsmall{
    width: 60px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
 
 
}
section{
    border: 2px solid #c1c1c1;
    width: 45%;
    margin: 50px;
    border-radius: 5px;
    padding-left: 10px;
    background-color:rgb(240, 234, 238) ;
}

li{
    list-style: none;
}
.discription{
    font-size: small;
}
.buttons{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
}
.minus{
    margin-left: 20px;
}
.delete{
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 20px;
}

 .cartdisplay{
    position: relative;
    left:300px;
    top:45px;
    border: 2px solid #c1c1c1;
    width: 50%;
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
}
.order{
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left:10px;
}
.text-center{
    margin-top: 100px;
    color: rgb(226, 70, 17); 
}

.order:active{
    background-color: #c1c1c1;
    color: aliceblue;

}

#checkout{
   position:relative;
   left:250px;
}

